body {
    overflow-y: scroll;
}

.home>.wrapper {
    padding-left : 0;
    padding-right: 0;
    max-width    : 95%;
}

@media(min-width: 1280px) {
    .home>.wrapper>.row>.col-3 {
        width: 16.66667%;
    }

    .home>.wrapper>.row>.col-9 {
        width: 83.33333%;
    }

    .home-fluid-thumbnail-grid-item {
        width: 20% !important;
    }

}

.icon-with-text-container .text-part {
    font-family: 'Proxima Soft', 'Source Sans Pro', helvetica, sans-serif;
    font-size  : 1em;
}

.fluid-thumbnail-grid-image-overlay {
    background-image: linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.6));
}