%tr
  %td
    %h2= t("alerts.abuse_message")

    = render :partial => "person_mailer/quote-v2", :locals => { :quote => message }

= render "person_mailer/action_button-v2", text: t("emails.listing_rejected.edit_the_listing"), url: listing_url
= render 'person_mailer/cant_click', url: listing_url
