- content = ""

- content += render :layout => "layouts/mercury_editable_page", :locals => { :content_type => "legal_notice_page_content" } do
  - if @community_customization && @community_customization.legal_notice_page_content
    = @community_customization.legal_notice_page_content.html_safe

- if params[:controller] == 'infos'
  - content_for :meta_description, StringUtils.first_words(strip_tags(content.html_safe))

= content.html_safe
